In [1]:
# for loop, while loop

In [2]:
# for loop

In [3]:
my_list = [10,20,30,40,50,60,70]

In [4]:
my_list[0]/5*2

4.0

In [5]:
my_list[1]/5*2

8.0

In [6]:
for num in my_list:
    print(num/5*2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [7]:
print("for loop started")
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [8]:
for x in my_list:
    if x % 6 == 0:
        print(x)

30
60

In [9]:
# Remainder operator -----> %

In [10]:
number_list = [0,1,2,3,4,5,6,7,8,9,10]

In [11]:
for even in number_list:
    if even % 2 == 0:
        print(even)

0
2
4
6
8
10

In [12]:
for odd in number_list:
    if odd % 2 == 1:
        print(odd)

1
3
5
7
9

In [13]:
my_string = "huseyin sanal"

In [14]:
for c in my_string:
    print(c)

h
u
s
e
y
i
n

s
a
n
a
l

In [15]:
my_tuple = (10,20,30,40,50,60,70)

In [16]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [17]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [18]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [19]:
len(my_new_list)

4

In [20]:
my_new_list[0]

('a', 'b')

In [21]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [22]:
# Tuple Unpacking

In [23]:
my_new_list[0][1]

'b'

In [24]:
for (x,y) in my_new_list:
    print(x)

a
c
e
g

In [25]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [26]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [27]:
for (x,y,z) in my_tuple_list:
    print(z)

2
5
8
11

In [28]:
my_set = {1,2,3,4,5}

In [29]:
len(my_set)

5

In [30]:
type(my_set)

set

In [31]:
for num in my_set:
    print(num)

1
2
3
4
5

In [32]:
my_dictionary = {"k1":100,"k2":200,"k3":300}

In [33]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [34]:
my_dictionary.values()

dict_values([100, 200, 300])

In [35]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [36]:
for (key,value) in my_dictionary.items():
    print(value)

100
200
300

In [37]:
for num in my_dictionary.values():
    print(num)

100
200
300

In [38]:
# continue - break - pass

In [39]:
my_list = [10,20,30,40,50,60,70]

In [40]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [41]:
40 in my_list

True

In [42]:
for number in my_list:
    if number == 40:
        print("yes")

yes

In [43]:
for number in my_list:
    if number == 80:
        print("yes")

In [44]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break

10
20
30
40
yes

In [45]:
for num in my_list:
    print(num)
    if num == 30:
        print("yes")
        continue

10
20
30
yes
40
50
60
70

In [46]:
my_list = [10,20,30,40,50,60,70]

In [47]:
for num in my_list:
    if num == 40:
        continue
    print(num)

10
20
30
50
60
70

In [48]:
for number in my_list:
    pass

In [49]:
# bitmiş kodda çok görülmez -----> pass

In [50]:
# while

In [51]:
x = 0

In [52]:
print("while loop started")
while x < 10:
    print(x)
    x = x + 1
print("while loop ended")

while loop started
0
1
2
3
4
5
6
7
8
9
while loop ended

In [53]:
last_list = [10,20,30,40,50]

In [54]:
while 20 in last_list:
    print("20 in last_list")
    last_list.remove(20)

20 in last_list

In [55]:
last_list = [10,20,30,40,50]

In [56]:
while 20 in last_list:
    print("20 in last_list")
    last_list.pop()

20 in last_list
20 in last_list
20 in last_list
20 in last_list

In [57]:
my_list = [10,20,30]

In [58]:
my_list

[10, 20, 30]

In [59]:
print(my_list)

[10, 20, 30]

In [60]:
print(f"my list : {my_list}")

my list : [10, 20, 30]

In [61]:
name = input("enter name: ")

enter name: gamze

In [62]:
print(f"welcome {name}")

welcome gamze

In [63]:
print("welcome",name)

welcome gamze

In [64]:
p = 0
while p < 20:
    print(f"value of p : {p}")
    p += 1   #p = p + 1

value of p : 0
value of p : 1
value of p : 2
value of p : 3
value of p : 4
value of p : 5
value of p : 6
value of p : 7
value of p : 8
value of p : 9
value of p : 10
value of p : 11
value of p : 12
value of p : 13
value of p : 14
value of p : 15
value of p : 16
value of p : 17
value of p : 18
value of p : 19